@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_li_a {
    @apply text-black font-normal text-lg transition duration-300 hover:underline decoration-vert decoration-2;
}

.h1 {
    @apply text-3xl font-bold
}

.grid-areas {
    grid-area: 3 / 1 / 4 / 3; 
    width: 712px;
}

.grid-areas_2 {
    grid-area: 4 / 1 / 5 / 3; 
    width: 712px;
}

.margin-negative {
    margin-left: -30px;
}

// main {
//     background-color: gray;
// }

//variables
$main-spinner-dimensions: 125px - 4px * 2; //width and height of bigger circle
$small-spinner-dimensions: $main-spinner-dimensions * 0.7; //width and height of smaller circle

/* YOU NEED THESE STYLES */

/* spinner style */
.spinner {
    position: relative;
    width: 125px;
    height: 125px;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      border-width: 4px;
      border-style: solid;
      border-radius: 50%;
    }
  }

/* spinner-1 styles */
.spinner.spinner-1 {
  
    @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes anti-rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }
  
  &:before {
    width: 125px;
    height: 125px;
    border-bottom-color: #84a98c;
    border-right-color:#84a98c;
    border-top-color: rgba(#84a98c, 0);
    border-left-color: rgba(#84a98c, 0);
    top: 0px;
    left: 0px;
    animation: rotate-animation 1s linear 0s infinite;
  }
  
  &:after {
    width: $small-spinner-dimensions;
    height: $small-spinner-dimensions;
    border-bottom-color: #84a98c;
    border-right-color: #84a98c;
    border-top-color: rgba(#84a98c, 0);
    border-left-color: rgba(#84a98c, 0);
    top: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
    left: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
    animation: anti-rotate-animation 0.85s linear 0s infinite;
  }
}