* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* INDEX */
/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 0 80px rgba(0,0,0,.07);
}

.logo {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

nav a span {
    color: #84a98c;
    font-size: 34px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}

nav ul li a {
    text-decoration: none;
    transition: .3s;
    color: #000;
    font-weight: 400;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline #84a98c 2px solid;
}

/* Bannière */
.fullimg {
    height: 69vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #84a98c;
}

.fullimg h1 {
    color: #fff;
}

/* Fil d'actualité */

.index section {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.index section h2 {
    margin: 50px;
}

.index section article{
    margin: 0 50px 50px 90px;
}

.index section article a {
    margin: 0 50px 0 50px;
    text-decoration: none;
    color: #000 ;
}

.index section article a h3 {
    margin: 20px 0;
}

.index section article a p {
    margin: 20px 0;
}

.index section article img {
    height: 200px;
    margin: 13px 0;
}

.index section article a div p span {
    font-size: 12px;
    font-style: italic;
}

.index section article a div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index section article a div p {
    margin: 0;
}

.react {
    width: 50px;
    display: flex;
    justify-content: space-around;
}


/* INSCRIPTION & CONNEXION */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form h1 {
    color: #84a98c;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 310px;
}

form div label {
    margin-bottom: 7px;
}

form div input, form div textarea {
    padding: 10px 20px;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 7px;
    color: #666666;
}

.check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.check input {
    margin-bottom: 7px;
}

form p a {
    color: #84a98c;
    text-decoration: none;
}

form button {
    margin: 15px;
    padding: 10px 20px;
    background-color: #84a98c;
    border: 2px solid #84a98c;
    border-radius: 7px;
    color: #fff;
    transition: .3s;
    font-size: 18px;
}

form button:hover {
    background-color: transparent;
    border: 2px solid #84a98c;
    color: #84a98c;
}


/* COMPTE */

h1 {
    color: #84a98c;
}

.compte, .statistique, .connexion, .inscription, .new_post {
    margin-top: 70px;
}

.compte section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.compte section {
    background-color: #eee;
    padding: 30px;
    border-radius: 7px;
}

.compte section div {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.compte section div div  {
    display: flex;
    flex-direction: column;
}

.mdp {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
}

.change {
    color: #84a98c;
    text-decoration: none;
}

.link {
    margin: 15px;
    padding: 10px 20px;
    background-color: #84a98c;
    border: 2px solid #84a98c;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.link:hover {
    background-color: transparent;
    border: 2px solid #84a98c;
    color: #84a98c;
}

.pdp {
    display: flex;
    flex-direction: row !important;
    align-items: flex-end;
}

.pdp img {
    background-color: #fff;
    border-radius: 100px;
    height: 125px;
    width: 125px;
}

.fa-camera {
    font-size: 20px;
    background-color: #84a98c;
    padding: 7px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding-top: 9px;
    text-align: center;
    margin-left: -30px;
}


/* POST */

.post article, .com {
    margin: 50px;
}

.post article h3, .post article p, .com h3 {
    margin: 20px 0;
}

.post article img {
    height: 200px;
    margin: 13px 0;
}

.com input {
    margin: 0 50px;
    width: 50%;
}

.post article div p span {
    font-size: 12px;
    font-style: italic;
}

.post article div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.com article p span {
    font-weight: 600;
}

.com input {
    padding: 10px 20px;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 7px;
    color: #666666;
}

.com button {
    margin: 15px;
    padding: 10px 20px;
    background-color: #84a98c;
    border: 2px solid #84a98c;
    border-radius: 7px;
    color: #fff;
    transition: .3s;
}

.com button:hover {
    background-color: transparent;
    border: 2px solid #84a98c;
    color: #84a98c;
}

.com article div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

/* CREATE NEW POST */

.create_post {
    width: 80vw;
}

.create_post div {
    width: 80%;
}

/* ANALYTICS */

.stat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 780px;
}

.graph {
    grid-area: 3 / 1 / 4 / 3; 
}

.stat section {
    padding: 20px 30px;
    border-radius: 7px;
    border: solid 1px #ededed;
    transition: .3s;
}

.stat section:hover {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 40px 80px rgba(49, 49, 49, 0.1);
}