{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {{ user.username }} <br>
    {% if user.avatar %}
        <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="{{ user.username }} avatar"> <br>
    {% endif %}
    {% if app.user == user %}
        <a href="{{ path('app_user_edit', {'id': user.id }) }}">Edit profile picture</a>
    {% endif %}

{#  GERER DELETE IMAGE SI NOUVELLE IMAGE ??  #}
{% endblock %}
